:root {
  --color-primary-100: rgb(224, 234, 255);
  --color-primary-500: rgb(0, 72, 229);
  --color-primary-600: rgb(0, 60, 188);

  --color-border: gainsboro;
  --color-text: #334155;
  --color-text-disabled: gainsboro;
  --color-gradient: linear-gradient(90deg, hsla(280, 100%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);

  --font-size-base: 0.9375rem; /* 15px */
  --font-size-sm: 0.8rem;

  --shadow-sm: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --shadow-md: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --shadow-lg: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-full: 100%;

  --transition: all 0.15s ease;
  --transition-fast: all 0.1s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text);
  font-size: var(--font-size-base);
}

ul {
  list-style-type: none;
}

input,
button {
  color: inherit;
  font: inherit;
}

.label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 600;
  text-transform: capitalize;
}
