.button {
  box-shadow: var(--shadow-sm);
  border: none;
  border-radius: 6px;
  padding: 0.8rem 1rem;
  background-color: var(--color-primary-500);
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: var(--transition);
}

.button:hover {
  background-color: var(--color-primary-600);
}
